<!-- 
	<style>
	*{
		font-size: 0.3rem;
	}
		input{
			width: 6rem;
		}
	</style>
</head>
<body>
	<h1>index</h1>
	<input type="text">
 -->
	
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	index

		<form action="/login" method="get" id="myForm">
				<p>
					<input type="text" name="username" placeholder="username">
				</p>
				<p>
					<input type="password" name="password" placeholder="password">
				</p>
				
				<div class="submit">
					<input type="submit" value="提&nbsp;交" >
				</div>
			</form>


			<script src="https://cdn.bootcss.com/jquery/1.4.3/jquery.js"></script>
			<script>
				$("#myForm").submit(function(e){
					e.preventDefault();
				})
			</script>
</body>
</html>