<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 
	<title>Document</title>
 	<link rel="stylesheet" href="css/register.css">
	<script src="js/base.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/register.js"></script>

	<script>
	
	</script>
</head>
<body>
	<div class="container">
		<section>
			<header class="register-header">
				<h2>注册页面</h2>
				<div class="a-box"><a href="/login">登录</a></div>
			</header>
			<form action="/deal/register" id="register">
				<p>
					<input type="text" name="username" placeholder="请输入用户名" id="username">
				</p>
				<p>
					<input type="text" name="password" placeholder="设置密码" id="password_1">
				</p>
				<p>
					<input type="text" name="password" placeholder="确认密码" id="password_2">
				</p>
				<p>
					<input type="text" name="verfication-validation" placeholder="verfication" id="verfication-validation"><span id="verfication">获取验证码</span>
				</p>
				
				<div class="submit">
					<input type="submit" value="提&nbsp;交">
				</div>
			</form>
		</section>
	</div>
</body>
</html>