/*
* @Author: Administrator
* @Date:   2018-03-08 19:22:04
* @Last Modified by:   Administrator
* @Last Modified time: 2018-03-21 12:36:50
*/

/*主页info样式开始*/
	
		.container{
			margin-bottom: 1.2rem;
		}

		.container .box{
			height: 2rem;
			width: 7.15rem;
			background-color: #fff;
			padding: 0.3rem;
			box-sizing: border-box;
			border-bottom: 1px solid #ccc;
			/*border: 1px solid red;*/

		}
		.container .box .pic{
			float: left;
			width: 1.4rem;
			height: 1.4rem;
			background-color: yellow;

		}
		.container .box .pic img{
			width: 1.4rem;
			height: 1.4rem;
		}
		.container .box .content-box{
			padding-left: 0.2rem;
			box-sizing: border-box;
			width:3.4rem;
			height: 1.4rem;
			float: left;
			margin-left: 0.2rem;
			/*border: 1px solid green;*/
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		.container .box .content-box .company-name{
			font-weight: bold;
			font-size: 0.34rem;
		}
		.container .box .content-box .date{
			font-size: 0.2rem;
		}
		.container .box .salary{
			/*margin-left: 0.2rem;*/
			width: 1.4rem;
			float: left;
			/*background-color: blue;*/
			height: 1.4rem;
			/*vertical-align: bottom;*/
			position: relative;
		}
		.container .box .salary span{
			position: absolute;
			bottom: 0.4rem;
			font-size: 0.32rem;
			color: lightblue;
		}

/*主页info样式结尾*/


/*搜索页面样式开始*/
	.container .search{
		display: flex;
		height: 0.8rem;
	}
	.container .search #inputInfo{
		/*width: 6rem;*/
		flex: 7;
		text-indent: 0.3rem;
		outline: none;
	}
	.container .search #search_2{
		flex: 2;
		background-color: blue;
		outline: none;
		border: none;
	}
/*搜索页面样式结尾*/


/*我的页面样式开头*/

	.mine-t{
			background-color: #ccc;
		}
	.mine-t .mine-top{
		height: 3.5rem;
		background-color: pink;
		text-align: center;
	}
	.mine-t .mine-top img{
		width: 1.5rem;
		height: 1.5rem;
		background-color: yellow;
		border-radius: 50%;
		margin-top: 0.7rem;
		margin-bottom: 0.1rem;

	}
	.mine-t .mine-top img .mine-username{
		background-color: lightblue;
	}
	.mine-t .mine-bottom{
		margin-top: 0.5rem;
	}
	.mine-t .mine-bottom .mine-box{
		height: 1rem;
		line-height: 1rem;
		display: flex;
		/*justify-content: space-around;*/
		background-color: #fff;
		border-bottom: 1px solid #ccc;
	}
	.mine-t .mine-bottom .mine-box i{
		flex: 1;
		/*background-color: pink;*/
		text-align: center;

	}
	.mine-t .mine-bottom .mine-box span{
		flex: 3;
		/*background-color: yellow;*/
	}
	/*我的页面样式结尾*/